.card__location {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px 0;
    border-radius: 15px;
    padding: 1.5rem;

    background: #062226;
}

.card__loc-name {
    justify-content: center;
    align-items: center;
    display: flex;
    text-transform: uppercase;
    margin-bottom: 20px;

}

.card__loc-list {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    gap: 30px;
}

@media (max-width: 700px) {
    .card__loc-list {
        flex-direction: column;
    }
}